<!doctype html>
<html>
<head>
    <title>[TraMBU] Track My Bitch Up!</title>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <link href="./css/trambu.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./css/font-awesome.css" rel="stylesheet"/>
</head>

<body ng-app="hello">
<div class="container">
    <h1>TraMBU!</h1>
    <div ng-controller="home" ng-cloak class="ng-cloak">
        <h2><u>Your Activities</u></h2>
        <hr/>
        <br/>
        <div class="errorPanel">
            <pre ng-show='errorMessage.length > 0' ng-model="errorMessage"> <em>{{errorMessage}}</em></pre>
        </div>
        <div id="topBar" name="topBar" ng-model="activeFilter">
            <pre id="filterDisplay" name="filterDisplay" class="filterDisplay"
                 style="display: none;">Selected filter: <em><button
                    type="button"
                    class="btn" ng-click="clearFilter()">{{activeFilter}}</button></em>  <a href="#"><i
                    class="glyphicon glyphicon-remove" ng-click="clearFilter()" style="color: #d43f3a"></i></a> </pre>
            <button type="button" style="float: right" ;
                    class="btn" ng-class="{'btn-success': hideCompleted, 'btn-default': !hideCompleted}"
                    ng-click="toggleHideCompleted()" ng-model="hideCompleted">Hide completed
            </button>
        </div>
        <br/>
        <hr/>
        <uib-accordion close-others="oneAtATime">
            <div ng-repeat="activity in activities" ng-show="!(activity.completed && getHideCompleted())">
                <div uib-accordion-group class="{{getPanelStyle(activity.name)}}"
                     is-open="status.isCustomHeaderOpen">
                    <div uib-accordion-heading>
                        <div style="{{getHeaderTemplate(activity.completed)}}">
                            <i class="{{getDone(activity.completed)}}" aria-hidden="true" style="float: left;"></i>
                            <div class="indent"></div>
                            {{activity.name}}
                            <div class="indent"></div>
                            <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-model="activity.completed" uib-btn-checkbox
                            btn-checkbox-true="true" btn-checkbox-false="false"
                            ng-click="save(activity.name)">
                        {{getTodoToggleText(activity.completed)}}
                    </button>
                    <br/><br/>
                    <pre ng-show='activity.priority.length > 0'>Priority level is: <em>{{activity.priority}}</em></pre>
                    <pre ng-show='activity.deadline'>Deadline is: <em>{{activity.deadline | date:'medium' }}</em></pre>
                    <pre ng-show='activity.tags.length > 0'>Tagged as: <button type="button" class="btn btn-sm btn-info"
                                                                               ng-repeat="tag in activity.tags"
                                                                               ng-click="loadActivtiesByTag(tag)"
                                                                               style="margin-right: 10px;">
                    {{tag}}
                </button></pre>
                    <pre ng-show='activity.projects.length > 0'>Activity contained in projects: <button type="button"
                                                                                                        class="btn btn-sm btn-success"
                                                                                                        ng-repeat="project in activity.projects"
                                                                                                        ng-click="loadActivtiesByProject(project.name)"
                                                                                                        style="margin-right: 10px;">
                    {{project.name}}
                </button></pre>
                    <br/>
                    <button type="button" class="btn btn-danger" style="float: right" ng-click="delete(activity.name)">
                        Delete
                    </button>
                </div>
                <br/>
            </div>
        </uib-accordion>
        <button type="button"
                class="btn btn-sm btn-success"
                ng-click="togglediv('addActivity')"><i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <br/>
        <div id="addActivity" class="addActivity" style="display: none; margin-top: 10px";>
            <form class="form-horizontal" role="form" ng-submit="addActivity()">
                <div class="form-group bordered">
                    <h4>Add a new activity</h4>
                    <div>
                        <input type="text" class="form-control" name="name"
                               ng-model="name" placeholder="Activity Name"/>
                    </div>
                    <br/>
                    <div>
                        <label>Priority:</label>
                        <select ng-model="selectedPriority" name="selectedPriority"
                                ng-options="y for (x, y) in priorities" ng-required="true">
                        </select>
                    </div>
                    <br/>
                    <div>
                        <input type="text" class="form-control" name="tags"
                               ng-model="tags" placeholder="Tags (comma separated)"/>
                    </div>
                    <br/>
                    <div>
                        <input type="text" class="form-control" name="projects"
                               ng-model="projects" placeholder="Projects (comma separated):"/>
                    </div>
                    <br/>
                    <div class="bordered">
                        <label>Deadline</label><br/>
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="deadline"
                                   placeholder="Activity deadline"
                                   is-open="popup2.opened" datepicker-options="dateOptions" ng-required="false"
                                   close-text="Close"/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                            </span>

                        </div>
                        <div uib-timepicker ng-model="deadline" hour-step="1" minute-step="1" show-meridian="false"
                             value="12:00:00" style="width: 125px;"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div style="padding-left:110px">
                        <input type="submit" value="Submit" class="btn btn-primary"/> <br/><br/>
                        <input type='reset' value='Reset' class="btn btn-primary">
                    </div>
                </div>
            </form>

        </div>
        <hr/>
        <br/>
    </div>
</div>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/hello.js"></script>
</body>
</html>