
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

div.indent {
    float: left;
    overflow: hidden;
    height: 1px;
    width: 12px;
}

div.vindent {
    float: left;
    overflow: hidden;
    height: 8px;
    width: 1px;
}

div.form-group {
    width: 45%;
    float: left;
}

pre.filterDisplay {
    width: 75%;
    clear: right;
    float: left;
    margin-bottom: 12px;
}

div.middleOfParent {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

div.bordered {
    border-radius: 10px;
    padding: 15px;
    border: 1px solid grey;
}

div.trambu-header {
    height: 125px;
    margin-bottom: 5px;
    border: solid 1px #262626;
    background-color: #f5f5f5;
    border-top: none;
    border-radius: 5px;
}

div.trambu-header h1 {
    display: inline;
}

div.trambu-header img {
    display: inline;
}



