
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

body {
    font-family: 'Lora', sans-serif;
}

div.indent {
    float: left;
    overflow: hidden;
    height: 1px;
    width: 12px;
}

div.vindent {
    float: left;
    overflow: hidden;
    height: 8px;
    width: 1px;
}

div.form-group {
    width: 45%;
    float: left;
}

pre.filterDisplay {
    width: 75%;
    clear: right;
    float: left;
    margin-bottom: 12px;
}

div.middleOfParent {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

div.bordered {
    border-radius: 10px;
    padding: 15px;
    border: 1px solid grey;
}

.page-header {
    background-size: cover;
    display: block;
    margin-bottom: 30px;
    padding: 25px 0;
    text-align: center;
    width: 100%;
}

h1.site-title {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #ff8c8c;
}

p.site-description {
    color: #818181;
    font-family: 'Droid Serif', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 0px;
}

.main-banner {

    background-size: cover;
    display: block;
    margin-bottom: 30px;
    padding: 15px 0;
    text-align: center;
    width: 100%;

}



