<div class="bordered-component">
    Timelog:
    <button type="button" class="btn btn-success"
            ng-click="loadLogs(activity.name)">
        Load logs
    </button>
    <br/>
    <div x-ng-repeat="timelog in getLogs(activity.id)" class="timelogEntry">
        <pre>Entry: {{timelog.startTime | date:'medium' }} untill {{timelog.endTime | date:'medium' }}</pre>
    </div>
    <div class="timeSpentOnAcitvity">
        <pre>Hours spent on activity: {{getTimeSpentInHours(activity.id)}}</pre>
    </div>
</div>